/* Basic Styles for Font and Alignment*/

/* Brandico Font Icons*/
@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #000000;
  position: relative;
}

a {
    text-decoration: none !important;
}

.col-profile, .col-info{
  width: 50%;
}
.color-me{
  color: #0D4F8B;
}
.centered{
  padding-top: 12%;
}
.section-header{
  font-size: 350%;
  font-weight: 100;
}
.resume-body{
  font-size: 115%;
}
.resume-header{
  text-transform: uppercase;
  font-size: 125%;
}
.text-bold{
  font-weight: 500;
}
.text-thin{
  font-weight: 100;
}
.text-skinny{
  font-weight: 300;
}
.text-muted{
  color: #0D4F8B;
  font-weight: 700;
}
.text-super{
  font-size: 350%;
}
.text-md{
  font-size: 125%;
}
.indent{

}
.section-indent{
  padding-top: 70px;
}
.section-md-indent{
  padding-top: 45px;
}
.section-sm-indent{
  padding-top: 15px;
}

/* NavBar Styles */

.navbar  {
  background-color: black;
  border-style:none;
  opacity: 0.9; 
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0D4F8B;
}

.navbar-default .navbar-nav > li > a{
  color: #FFF;
  font-size: 125%;
  padding-left: 40px;
  padding-right: 40px;
}

/* Fading Text Styles */


.fading-text{
  font-weight: 500;
  color: #FFF; 
}
.fade-learn{
  text-align: right; 
}
.fade-explore{
  text-align: center; 

}
.fade-discover{
  text-align: left;
}

.fade-learn, .fade-explore, .fade-discover{ 
  padding-top: 10%; 
}
.blue-btn{
  padding-top: 7%;
}

.text-animated-one {
    position: relative;
    -webkit-animation: fadeInOut 4s infinite;
    animation: fadeInOut 4s infinite;
}

.text-animated-two {
    opacity: 0;
    position: relative;
    -webkit-animation: fadeInOut 4s 2s infinite;
    animation: fadeInOut 4s 2s infinite;
}

.text-animated-three {
    opacity: 0;
    position: relative;
    -webkit-animation: fadeInOut 4s 1s infinite;
    animation: fadeInOut 4s 1s infinite;
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
        top: -.5em;
    }
    25% {
        opacity: 1;
        top: 0;
    }
    75% {
        opacity: 0;
        top: .5em;
    }
    100% {
        opacity: 0;
        top: .5em;
    }
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
        top: -.5em;
    }
    25% {
        opacity: 1;
        top: 0;
    }
    75% {
        opacity: 0;
        top: .5em;
    }
    100% {
        opacity: 0;
        top: .5em;
    }
}

/* Jumbotron Styles */

.jumbotron-text{
  color: #FFFFFF;
}
.jumbotron {
  background-image: url('../images/abstract.jpg');
  background-attachment: fixed; 
  background-size: cover; 
  width: 100%;
  height: 100%;
}
.inline{
  display: inline;
}


/* Jumbotron Button*/

.btn {
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  background:#0D4F8B; 
  border-color: #0D4F8B;
}

.btn:focus{
  background:#0D4F8B; 
  border-color: #0D4F8B;
  color: #FFFFFF;
}


.glyphicon {
    text-align: center;
    font-size: 2em;
    color: #FFFFFF;
}

.circle-profile{
    width:200px;
    height:200px;
    border-radius:50%;
    background-image:url("../images/giraffe.jpg");
    display:block;
    background-position-y:100% 
}

#inner {
    display: block;
    margin: 0 auto;
}




/* -------------------------------- 

Media Queries - change design based on screen size

-------------------------------- */

/* Responsive Jumbrotron */

@media screen and (max-width: 540px){
  .fade-learn, .fade-explore, .fade-discover{ 
    text-align: center; 
  }
  .fade-explore, .fade-discover{ 
    padding-top: 5%;
  }
  .blue-btn{
    padding-top: 15%;
  }
  .fading-text{
  font-weight: 300;
  color: #0D4F8B; 
  }
   #logo-list > .col-md-1 {
    width: 64px;
    height: 64px;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  #logo-list.flex{
    display: flex;
    padding-left: 15%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 541px){
  
  .fade-text > .col-md-4{
    width: 33.33%;
    padding-right: 10%;
    padding-left: 10%;
  }
  #jumbo.flex{
    display: flex; 
  }
}

/* Responsive About Section */

@media screen and (max-width: 990px){
  .intro{
    padding-top: 10%;
    padding-left: 12.5%; 
    padding-right: 12.5%;
  }
   #logo-list.flex{
    display: flex;
    padding-left: 25%;
  }
   #logo-list > .col-md-1 {
    width: 64px;
    height: 64px;
    padding-left: 10%;
    padding-right: 10%;
  }
} 
@media screen and (min-width: 991px){
  #logo-list.flex{
    padding-left: 48%;
  }
   #logo-list > .col-md-1 {
    width: 64px;
    height: 64px;
    padding-left: 10%;
    padding-right: 10%;
  }
} 




/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
