/* Basic Styles for Font and Alignment*/

body{
  font-family: 'Roboto', sans-serif;
  color: #000000;
  position: relative;
 
}
.color-me{
  color: #0D4F8B;
}
.centered{
  padding-top: 20%;
}
.section-header{
  font-size: 350%;
  font-weight: 100;
}
.resume-body{
  font-size: 115%;
}
.resume-header{
  text-transform: uppercase;
  font-size: 125%;
}
.text-bold{
  font-weight: 500;
}
.text-thin{
  font-weight: 100;
}
.text-skinny{
  font-weight: 300;
}
.text-muted{
  color: #0D4F8B;
  font-weight: 700;
}
.text-super{
  font-size: 350%;
}
.text-md{
  font-size: 125%;
}
.indent{
  margin-top: 4%;
}
.section-indent{
  padding-top: 70px;
}
.section-md-indent{
  padding-top: 45px;
}
.section-sm-indent{
  padding-top: 15px;
}

/* NavBar Styles */

.navbar  {
  background-color: black;
  border-style:none;
  opacity: 0.9; 
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0D4F8B;
}

.navbar-default .navbar-nav > li > a{
  color: #FFF;
  font-size: 125%;
  padding-left: 40px;
  padding-right: 40px;
}

/* Fading Text Styles */

.fading-text{
  color: #FFFFFF;
  font-weight: 500;
}

.text-animated-one {
    position: relative;
    -webkit-animation: fadeInOut 4s infinite;
    animation: fadeInOut 4s infinite;
}

.text-animated-two {
    opacity: 0;
    position: relative;
    -webkit-animation: fadeInOut 4s 2s infinite;
    animation: fadeInOut 4s 2s infinite;
}


.text-animated-three {
    opacity: 0;
    position: relative;
    -webkit-animation: fadeInOut 4s 1s infinite;
    animation: fadeInOut 4s 1s infinite;
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
        top: -.5em;
    }
    25% {
        opacity: 1;
        top: 0;
    }
    75% {
        opacity: 0;
        top: .5em;
    }
    100% {
        opacity: 0;
        top: .5em;
    }
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
        top: -.5em;
    }
    25% {
        opacity: 1;
        top: 0;
    }
    75% {
        opacity: 0;
        top: .5em;
    }
    100% {
        opacity: 0;
        top: .5em;
    }
}

/* Jumbotron Styles */

.jumbotron-text{
  color: #FFFFFF;
  font-weight: 300;
}

.jumbotron {
  background-image: url('../images/abstract.jpg');
  background-attachment: fixed; 
  background-size: cover;
  height: 100vh;
}

@media only screen and (max-width: 980px) {

  .jumbotron {
  background-image: url('../images/abstract.jpg');
  background-attachment: fixed; 
   background-size: cover;
  height: 50vh;
  }
}

/* Jumbotron Button*/

.btn {
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  background:#0D4F8B; 
  border-color: #0D4F8B;
}

.btn:focus{
  background:#0D4F8B; 
  border-color: #0D4F8B;
  color: #FFFFFF;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.glyphicon {
    text-align: center;
    font-size: 2em;
    color: #FFFFFF;
}

.circle-profile{
    width:200px;
    height:200px;
    border-radius:50%;
    background-image:url("../images/giraffe.jpg");
    display:block;
    background-position-y:100% 
}

#inner {
    display: block;
    margin: 0 auto;
}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}


/* Contact Form */


#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}

#form-div {
  background-color:rgba(72,72,72,0.4);
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#message{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
